<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <span class="panel-title hidden-xs"> Products status</span>
      </div>
      <div class="panel-body pn">
        <div class="table-responsive">



          <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
            <thead>
            <tr class="bg-light">
              <th class="text-center"></th>
              <th class="">Nom</th>
              <th class="">Description</th>
              <th class="">prix</th>
              <th class="">image</th>

              <th class="text-right">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of listeProduit" >
              <td class="text-center">
                <label class="option block mn">
                  <input type="checkbox" name="inputname" value="FR">
                  <span class="checkbox mn"></span>
                </label>
              </td>
              <td class="">{{i.nom}}</td>
              <td class="">{{i.description}}</td>
              <td class="">{{i.prix}}</td>
              <td><img src="http://localhost:3000/produit/getphoto/{{i.image}}" height="50" width="50"></td>
              <td class="text-right">
                <div class="btn-group text-right">
                  <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                    <span class="caret ml5"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a  data-toggle="modal" data-target="#myModal" (click)="recupere(i._id,i.nom,i.description,i.prix,i.image)" >Edit</a>
                  </li>
                    <li>
                      <a (click)="DeleteProduct(i._id)" >Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>

            <!-- Modal -->

            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- the content if the Modal -->

                <div class="panel">
                  <div class="panel-heading">
                <span class="panel-title">
<i class="fa fa-rocket"></i>Updating...</span>
                  </div>

                  <form [formGroup]="EditForm" >
                    <div class="panel-body  ph15">

                    <!--nom-->
                     <div class="section row mhn10">
                        <div class="col-md-6 ph15">
                          <label for="nom" class="field prepend-icon">
                            <input type="text" formControlName="nom" id="nom" class="gui-input" placeholder="nom..."class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }">
                            <span class="field-icon"><i class="fa fa-user"></i></span>
                            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                              <div *ngIf="f.nom.errors.required">le champ est obligatoire</div>
                            </div>

                          </label>
                        </div>
                      </div>

                      <!--description-->
                      <div class="section row mhn10">
                        <div class="col-md-6 ph15">
                          <label for="description" class="field prepend-icon">
                            <input type="text" formControlName="description" id="description" class="gui-input" placeholder="description..."class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                            <span class="field-icon"><i class="fa fa-user"></i></span>
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                              <div *ngIf="f.nom.errors.required">le champ est obligatoire</div>
                            </div>

                          </label>
                        </div>
                      </div>
                      <!--prix-->
                      <div class="section row mhn10">
                        <div class="col-md-6 ph15">
                          <label  class="field prepend-icon">
                            <input type="text" formControlName="prix" class="gui-input" placeholder="prix..." class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prix.errors }">
                            <span class="field-icon"><i class="fa fa-user"></i></span>
                            <div *ngIf="submitted && f.prix.errors" class="invalid-feedback">
                              <div *ngIf="f.nom.errors.required">le champ est obligatoire</div>
                            </div>

                          </label>
                        </div>
                      </div>

                      <!--image-->
                      <div class="section row mhn10">
                        <div class="col-md-6 ph15">
                          <label  class="field prepend-icon">
                            <input type="file" formControlName="image" class="gui-input" >
                            <span class="field-icon"><i class="fa fa-user"></i></span>

                          </label>
                        </div>

                          </div>

                    </div>

                    <div class="panel-footer">

                      <button type="submit" class="button btn-primary"  data-dismiss="modal" (click)="update()">Enregistrer</button>
                    </div>

                  </form>
                </div>

                <!-- fin of the Modal -->
              </div>
            </div>
            </tbody>
          </table>





        </div>
      </div>
    </div>
  </div>
</div>
