<footer id="content-footer">
  <div class="row">
    <div class="col-md-6">
      <span class="footer-legal">Copyright © 2016. All rights reserved. <a href="#">Therms of use</a> | <a href="#">Privacy Policy</a></span>
    </div>
    <div class="col-md-6 text-right">
      <span class="footer-meta"></span>
      <a href="#content" class="footer-return-top">
        <span class="fa fa-angle-up"></span>
      </a>
    </div>
  </div>
</footer>
