<header class="sidebar-header">
    <div class="sidebar-widget author-widget">
      <div class="media">
        <a class="media-left profile-online" href="#">
          <img src="assets/img/avatars/profile_avatar.jpg" class="img-responsive" alt="">
        </a>
        <div class="media-body">
          <div>Welcome</div>
          <div class="media-author">John Iverson</div>
        </div>
      </div>
    </div>
  </header>


  <ul class="nav sidebar-menu">
    <li class="active">
    <a href="index-2.html">
      <span class="sidebar-title">Dashboards</span>
      <span class="sb-menu-icon fa fa-home"></span>
    </a>
  </li>
    <li>
      <a class="new-email" href="email-layouts.html">
        <span class="sidebar-title">New Emails</span>
        <span class="sb-menu-icon fa fa-envelope"></span>
      </a>
    </li>
    <li>
      <a >
        <span class="sidebar-title">Calendar</span>
        <span class="sb-menu-icon fa fa-calendar"></span>
      </a>
    </li>


    <!--gestion des clients-->

    <li>
      <a class="accordion-toggle" >
        <span class="sidebar-title">Gestion des clients</span>
        <span class="caret"></span>
        <span class="sb-menu-icon fa fa-list-ul"></span>
      </a>
      <ul class="nav sub-nav">
        <li>
          <a routerLink="/home/client/listeClient">
         liste des clients
          </a>
        </li>




        <li>
          <a routerLink="/home/client/ajoutClient">
            Ajouter client
          </a>
        </li>

      </ul>
    </li>

    <!--gestion des produits-->

    <li>
      <a class="accordion-toggle" >
        <span class="sidebar-title">Gestion des Produits</span>
        <span class="caret"></span>
        <span class="sb-menu-icon fa fa-list-ul"></span>
      </a>
      <ul class="nav sub-nav">




        <li>
          <a routerLink="/home/gestionProduit/listeProduit">
            Liste Produit
          </a>
        </li>
        <li>
          <a routerLink="/home/gestionProduit/ajouterProduit">
            ajouter Produit
          </a>
        </li>



      </ul>
    </li>



    <!--gestion des personnels-->

    <li>
      <a class="accordion-toggle" >
        <span class="sidebar-title">Gestion des Personnels</span>
        <span class="caret"></span>
        <span class="sb-menu-icon fa fa-list-ul"></span>
      </a>
      <ul class="nav sub-nav">




        <li>
          <a routerLink="/home/personnel/listePersonnel">
            Liste de Personnels
          </a>
        </li>
        <li>
          <a routerLink="/home/personnel/ajoutPersonnel">
           Ajouter des Personnels
          </a>
        </li>



      </ul>
    </li>





  </ul>

