<div class="col-md-8">
  <div class="panel">
    <div class="panel-heading">
      <span class="panel-icon"></span>
      <span class="panel-title"> Details</span>
    </div>
    <div class="panel-body">
      <p class="">
      <strong>
         client first name :
       </strong>{{user.nom}}
      </p>
      <p class="">
        <strong>
          client last name :
        </strong>{{user.prenom}}
      </p>
      <p class="">
        <strong>
          client E-mail :
        </strong>{{user.email}}
      </p>




    </div>
  </div>
</div>
