<div class="allcp-form theme-primary mw1000 center-block pb175">

  <div class="panel panel-primary">
    <form   [formGroup]="registerForm" (ngSubmit)="ajouterPersonnel()" >
      <div class="panel-heading">
        <div class="panel-title">
          Validation
        </div>
      </div>
      <div class="panel-body">
        <h6 class="mb20" id="spy1">Basic inputs</h6>


        <div class="section row mhn10">



          <!--nom-->

          <div class="col-md-6 ph10 mb5">
            <label  class="field prepend-icon">
              <input type="text" class="gui-input" placeholder="Nom" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
              <span class="field-icon"><i class="fa fa-user"></i></span>
              <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                <div *ngIf="f.nom.errors.required">le champ est obligatoire</div>
              </div>


            </label>
          </div>


          <!--prenom-->

          <div class="col-md-6 ph10 mb5">
            <label  class="field prepend-icon">
              <input type="text" class="gui-input" placeholder="prenom" formControlName="prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" />
              <span class="field-icon"><i class="fa fa-user"></i></span>
              <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                <div *ngIf="f.prenom.errors.required">le champ est obligatoire</div>
              </div>


            </label>
          </div>

        </div>



        <div class="section row mhn10">



          <!--email-->

          <div class="col-md-6 ph10 mb5">
            <label  class="field prepend-icon">
              <input type="text" class="gui-input" placeholder="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <span class="field-icon"><i class="fa fa-user"></i></span>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">le champ est obligatoire</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>

              </div>


            </label>
          </div>


          <!--password-->

          <div class="col-md-6 ph10 mb5">
            <label  class="field prepend-icon">
              <input type="password" class="gui-input" placeholder="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <span class="field-icon"><i class="fa fa-user"></i></span>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">le champ est obligatoire</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>

              </div>


            </label>
          </div>

        </div>





      </div>

      <div class="panel-footer text-right">
        <button type="submit" class="btn btn-bordered btn-primary mb5"> Validate Form</button>
        <button type="reset" class="btn btn-bordered mb5"> Cancel</button>
      </div>

    </form>
  </div>
</div>
