<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <span class="panel-title hidden-xs">Users status</span>
      </div>
      <div class="panel-body pn">
        <div class="table-responsive">



          <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
            <thead>
            <tr class="bg-light">
              <th class="text-center"></th>
              <th class="">Nom</th>
              <th class="">Prenom</th>
              <th class="">Email</th>
              <th class="text-right">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of ListeUser" >
              <td class="text-center">
                <label class="option block mn">
                  <input type="checkbox" name="inputname" value="FR">
                  <span class="checkbox mn"></span>
                </label>
              </td>
              <td class="">{{i.nom}}</td>
              <td class="">{{i.prenom}}</td>
              <td class="">{{i.email}}</td>
              <td class="text-right">
                <div class="btn-group text-right">
                  <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                    <span class="caret ml5"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">

                    <!--edit-->
                    <li>
                      <!-- Trigger the modal with a button -->
                      <a  data-toggle="modal" data-target="#myModal"  (click)="recupere(i._id,i.nom,i.prenom,i.email,i.password)">Edit</a>
                    </li>
                    <!--delete-->
                    <li>
                      <a (click)="DeleteUser(i._id)">Delete</a>
                    </li>
                    <!--details-->
                    <li>
                      <a  routerLink="/home/detail/{{i._id}}">Détails</a>
                    </li>

                  </ul>
                </div>
              </td>
            </tr>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- the content if the Modal -->
                <div class="panel">
                  <div class="panel-heading">
                <span class="panel-title">
<i class="fa fa-rocket"></i>Updating...</span>
                  </div>

                  <form [formGroup]="EditForm" >
                    <div class="panel-body  ph15">
                      <div class="section row mhn10">
                        <!--nom-->
                        <div class="col-md-6 ph15">
                          <label for="nom" class="field prepend-icon">
                            <input type="text" formControlName="nom" id="nom" class="gui-input" placeholder="nom..." class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }">
                            <span class="field-icon">
                               <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                                <div *ngIf="f.nom.errors.required">le champ est obligatoire</div>
                                  </div>
<i class="fa fa-user"></i>
</span>
                          </label>
                        </div>
                      </div>
                        <!--prenom-->

                      <div class="section row mhn10">
                        <div class="col-md-6 ph15">
                          <label for="prenom" class="field prepend-icon">
                            <input type="text" formControlName="prenom" id="prenom" class="gui-input" placeholder="prenom..." class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors}">
                            <span class="field-icon">
                              <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                                <div *ngIf="f.nom.errors.required">le champ est obligatoire</div>
                                  </div>

                        <i class="fa fa-user"></i>
                            </span>
                          </label>
                        </div>
                      </div>

                      <!--email-->
                      <div class="col-md-6 ph15">
                        <label for="email" class="field prepend-icon">
                          <input type="email" formControlName="email" id="email" class="gui-input" placeholder="Email address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors}">
                          <span class="field-icon">
                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">le champ est obligatoire</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>

              </div>
                            <i class="fa fa-envelope"></i></span>
                        </label>
                      </div>

                        <!--passowrd-->

                        <div class="col-md-6 ph15">
                          <label for="password" class="field prepend-icon">
                            <input type="text" formControlName="password" id="password" class="gui-input" placeholder="password..." class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
                            <span class="field-icon"><i class="fa fa-user"></i></span>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                              <div *ngIf="f.password.errors.required">le champ est obligatoire</div>
                              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>

                            </div>

                          </label>
                        </div>



                      </div>


                    <div class="panel-footer">
                      <button type="submit" class="button btn-primary" (click)="update()">Enregistrer</button>
                    </div>

                  </form>
                </div>

                <!-- fin of the Modal -->
              </div>
            </div>

            </tbody>
          </table>





        </div>
      </div>
    </div>
  </div>
</div>
