<!--home-->
<div id="main">

  <header class="navbar navbar-fixed-top">
    <app-header></app-header>
  </header>

  <aside id="sidebar_left" class="nano nano-light affix">
    <div class="sidebar-left-content nano-content">
<app-sidebar></app-sidebar>
    </div>
  </aside>

  <section id="content_wrapper">

<app-layout></app-layout>

  </section>


  <app-footer></app-footer>

</div>
