<div class="allcp-form theme-primary mw1000 center-block pb175">

  <div class="panel panel-primary">
    <form   [formGroup]="registerForm" >
      <div class="panel-heading">
        <div class="panel-title">
          Validation
        </div>
      </div>
      <div class="panel-body">
        <h6 class="mb20" id="spy1">Basic inputs</h6>


        <div class="section row mhn10">



          <!--nom-->

          <div class="col-md-6 ph10 mb5">
            <label  class="field prepend-icon">
              <input type="text" class="gui-input" placeholder="Nom" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
              <span class="field-icon"><i class="fa fa-user"></i></span>
              <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                <div *ngIf="f.nom.errors.required">le champ est obligatoire</div>
              </div>


            </label>
          </div>


          <!--description-->

          <div class="col-md-6 ph10 mb5">
            <label  class="field prepend-icon">
              <input type="text" class="gui-input" placeholder="description" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
              <span class="field-icon"><i class="fa fa-user"></i></span>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">le champ est obligatoire</div>
              </div>


            </label>
          </div>

        </div>



        <div class="section row mhn10">



          <!--prix-->

          <div class="col-md-6 ph10 mb5">
            <label  class="field prepend-icon">
              <input type="number" class="gui-input" placeholder="prix" formControlName="prix" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prix.errors }" />
              <span class="field-icon"><i class="fa fa-user"></i></span>
              <div *ngIf="submitted && f.prix.errors" class="invalid-feedback">
                <div *ngIf="f.prix.errors.required">le champ est obligatoire</div>

              </div>


            </label>
          </div>


          <!--image-->

          <div class="col-md-6 ph10 mb5">
            <label  class="field prepend-icon">
              <input type="file" class="gui-input" placeholder="télécharger une image" (change)="recupereFile($event)" />
              <span class="field-icon"><i class="fa fa-user"></i></span>



            </label>
          </div>

        </div>





      </div>

      <div class="panel-footer text-right">
        <button type="submit" class="btn btn-bordered btn-primary mb5" (click)="ajouterProduit()"> Validate Form</button>
        <button type="reset" class="btn btn-bordered mb5"> Cancel</button>
      </div>

    </form>
  </div>
</div>
